<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="icon" href="/assets/favicon.png" type="image/png" />
  <link rel="stylesheet" href="/css/terminal.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="terminal">
  <main class="main">
    {{ content | safe }}
  </main>

<div class="terminal-card menu">
    <nav>
      <ul>
        {% if page.url != '/index/' and page.url != '/' %}
          <li>
            <a href="{{ '/index/' | url }}">vuyu.dev</a>
          </li>
        {% endif %}
        {% if page.url != '/articles/' %}
          <li>
            <a href="{{ '/articles/' | url }}">> ls ~/posts</a>
          </li>
          {% if collections.articles and collections.articles.length %}
            {% for article in collections.articles %}
              {% if article.url != page.url %}
                <li>
                  <a href="{{ article.url }}">
                    [{{ loop.index0 }}] {{ article.data.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          {% if collections.articles | length == 1 and page.url != '/articles/' %}
          {% endif %}
          {% else %}
            <li><span>No articles yet!</span></li>
          {% endif %}
        {% endif %}
      </ul>
    </nav>
</div>

</body>
</html>
