<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/terminal.min.css" />
  <link rel="stylesheet" href="/css/layout.css" />
</head>
<body class="terminal">
  <div class="layout">
    <aside class="terminal-menu">
      <nav>
        <ul>
          <li>
            <a href="{{ '/index/' | url }}">me</a>
          </li>
          <li>
            <a href="{{ '/articles/' | url }}">weekly.sh</a>
            <ul class="submenu">
              {% if collections.articles.length %}
                {% for article in collections.articles %}
                  <li>
                    <a href="{{ article.url }}">
                      {{ article.date | date("yyyy_MM_dd") }} {{ article.data.title }}
                    </a>
                  </li>
                {% endfor %}
              {% else %}
                <li><span class="secondary-color">No articles yet!</span></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </nav>
    </aside>

    <main class="main-content">
      {{ content | safe }}
    </main>
  </div>
</body>
</html>
