---
title: all posts
layout: layout.njk
---


<div>
  <h2 class="terminal-prompt">
    <strong>ls ~/posts</strong>
  </h2>
  <p>The best dev links on the Internet every week.</p>
  <ul>
    {% for article in collections.articles %}
      <li>
        <a href="{{ article.url }}">
          [{{ loop.index0 }}] {{ article.data.title }}
        </a>
      </li>
    {% else %}
      <li>No posts yet!</li>
    {% endfor %}
  </ul>
</div>
