---
layout: layout.njk
eleventyNavigation:
  key: Articles
  title: all posts
  parent: Index
  order: 2
---


<div>
  <h2 class="terminal-prompt">
    ls ~/posts
  </h2>
  <ul>
    {% set totalArticles = collections.articles.length %}
    {% for article in collections.articles | sort(true, false, 'data.date') %}
      <li>
        <a href="{{ article.url }}" class="article-link">
          [{{ totalArticles - loop.index0 - 1 }}] {{ article.data.title }}
        </a>
      </li>
    {% else %}
      <li>No posts yet!</li>
    {% endfor %}
  </ul>
</div>
