---
layout: layout.njk
title: welcome
eleventyNavigation:
  key: Index
  title: vuyu
  order: 1
---

<div class="about-section">
  <img src="/assets/me.png" class="main-photo" alt="Photo of me">
  <div>
    <h2 class="terminal-prompt"><strong>whoami</strong></h2>
    <p>Hi, I'm Vadzim — a  software engineer with a passion for technology.
    <br> I stay up to date by following the latest tech news every week.
    <br> Here, I share the most interesting insights I come across.
    <br>Enjoy!</p>
  </div>
  <div>
    <h2 class="terminal-prompt"><strong>~/connect</strong></h2>
    <ul class="contact-me">
      <li><a href="https://github.com/vvvyunnik" target="_blank">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/uyunnik" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</div>
