---
title: vuyu.com
layout: layout.njk
---

<div class="about-section">
  <img src="/assets/me.png" class="main-photo" alt="Photo of me">
  <div>
    <h2 class="terminal-prompt"><strong>whoami</strong></h2>
    <p>Hi, I'm Vadzim — software engineer.</p>
    <p>Every week, I grep the tech web and push the best stuff here.</p>
  </div>
  <div>
    <h2 class="terminal-prompt"><strong>~/connect</strong></h2>
    <ul class="contact-me">
      <li><a href="https://github.com/vvvyunnik" target="_blank">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/uyunnik" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</div>
